<% layout('/layouts/boilerplate')%> <% locals.solidNav = true %>
<div class="row">
  <h1 class="text-center">New Car</h1>
  <div class="col-6 offset-3">
    <form
      action="/cars/<%= car._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <input
          class="form-control"
          type="text"
          name="name"
          id="name"
          placeholder="Car Name"
          value="<%= car.name %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="brand">Brand:</label>
        <input
          class="form-control"
          type="text"
          name="brand"
          id="brand"
          placeholder="Car Brand"
          value="<%= car.brand %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="row">
        <div class="mb-3 col-6">
          <label class="form-label" for="price">Price: (CR)</label>
          <input
            class="form-control"
            type="number"
            name="price"
            id="price"
            placeholder="e.g. 424 for 424,000 CR"
            value="<%= car.price %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label" for="carClass"
            >Performance Index: (100-999)</label
          >
          <input
            class="form-control"
            type="number"
            name="carClass"
            id="carClass"
            placeholder="000"
            value="<%= car.carClass %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="country">Country:</label>
        <input
          class="form-control"
          type="text"
          name="country"
          id="country"
          placeholder="Brand Country"
          value="<%= car.country %>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image URL:</label>
        <input
          class="form-control"
          type="text"
          name="image"
          id="image"
          placeholder="Image URL"
          value="<%= car.image %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-warning">Edit</button>
      </div>
    </form>
    <a href="/cars/<%= car._id %>">Cancel</a>
  </div>
</div>
