<% layout('/layouts/boilerplate')%>

<div class="hero">
  <div class="hero-content">
    <h1>Find Your Car</h1>
  </div>
</div>
<div class="container mt-3">
    <div class="row">
        <% for(let car of autos){ %>
        <div class="col-lg-4 col-sm-6 col-12 mb-4">
            <div class="card h-100" >
                <a href="/cars/<%= car._id %>"><img src="<%= car.image %>" class="card-img-top" alt="Car image" style="height: 230px; object-fit: cover;"></a>
                <div class="card-body">
                    <h5 class="card-title"><%= car.name %></h5>
                    <p class="card-text"><%= car.brand %></p>
                    <p class="card-text"><%= car.country %></p>
                    <p class="card-text"><%= (car.price * 1000).toLocaleString() %> CR</p>
                    <p class="card-text"><%= car.carClass %></p>
                    <p class="card-text"><%= car.carClassLetter %></p>
                    <a href="/cars/<%= car._id %>" class="btn btn-dark">View Car</a>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>